<div class="card m-b-30">
    <div class="card-header">
        <h5 class="card-title mb-0">My Profile</h5>
    </div>
    <div class="card-body">
        <div class="profilebox py-4 text-center">
            <img src="assets/images/users/profile.svg" class="img-fluid mb-3" alt="profile" />
            <div class="profilename">
                <h5>John Doe</h5>
                <p class="text-muted my-3">
                    <a href="https://themesbox.in/admin-templates/orbiter/html/light-vertical/my-account.html"
                        ><i class="feather icon-edit-2 mr-2"></i>Edit Profile</a
                    >
                </p>
            </div>
            <div class="button-list">
                <a href="ecommerce-myaccount.html#" class="btn btn-primary-rgba font-18"><i class="feather icon-facebook"></i></a>
                <a href="ecommerce-myaccount.html#" class="btn btn-info-rgba font-18"><i class="feather icon-twitter"></i></a>
                <a href="ecommerce-myaccount.html#" class="btn btn-danger-rgba font-18"><i class="feather icon-instagram"></i></a>
            </div>
        </div>
    </div>
</div>
