<app-board-header></app-board-header>

<div class="row">
    <div class="col-lg-6 col-xl-3">
        <app-task-panel heading="OPENED" [taskList]="tasksMap.OPENED"></app-task-panel>
    </div>

    <div class="col-lg-6 col-xl-3">
        <app-task-panel heading="IN PROGRESS" [taskList]="tasksMap.IN_PROGRESS"></app-task-panel>
    </div>

    <div class="col-lg-6 col-xl-3">
        <app-task-panel heading="IN REVIEW" [taskList]="tasksMap.IN_PROGRESS"></app-task-panel>
    </div>

    <div class="col-lg-6 col-xl-3">
        <app-task-panel heading="COMPLETED" [taskList]="tasksMap.COMPLETED"></app-task-panel>
    </div>
</div>
