<div class="breadcrumbbar">
    <div class="row align-items-center">
        <div class="col-md-8 col-lg-8">
            <h4 class="page-title">Widgets</h4>
            <div class="breadcrumb-list">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Widgets</li>
                </ol>
            </div>
        </div>
        <div class="col-md-4 col-lg-4">
            <div class="widgetbar">
                <button (click)="openTaskModal()" class="btn btn-primary-rgba"><i class="feather icon-plus mr-2"></i>Create</button>
            </div>
        </div>
    </div>
</div>

<div *ngIf="showCreateTaskModal">
    <app-modal size="lg" heading="Create Task" [handleClose]="closeTaskModal.bind(this)">
        <app-task-form [handleClose]="closeTaskModal.bind(this)"></app-task-form>
    </app-modal>
</div>
