.task-modal {
    max-width: 90%;
}
.ox {
    height: 70vh;
    overflow: scroll;
}

.hvr-cont:hover {
    background-color: whitesmoke;
    cursor: pointer;
    border-radius: 3px;
}

.task-title {
    font-size: 28px;
    font-weight: bolder;
}

.task-description {
    margin-top: 0;
    font-size: 16px;
}
