<div class="breadcrumbbar" style="margin: 0px">
    <div class="row align-items-center">
        <div class="col-md-8 col-lg-8">
            <h4 class="page-title">Announcements</h4>
        </div>
        <div class="col-md-4 col-lg-4">
            <div class="widgetbar">
                <button class="btn btn-primary-rgba" (click)="openAnnouncementModal()"><i class="feather icon-plus mr-2"></i>Create</button>
            </div>
        </div>
    </div>
</div>

<div class="row mt-5">
    <div class="col-lg-12" *ngFor="let announcement of announcements; let i = index">
        <app-card [announcement]="announcement" [deleteAnnouncement]="deleteAnnouncement.bind(this)" [cardId]="i + 1"></app-card>
    </div>
</div>

<div *ngIf="showAnnouncementModal">
    <app-modal size="lg" heading="Make Announcement" [handleClose]="closeAnnouncementModal.bind(this)">
        <app-announcement-form [closeAnnouncementModal]="closeAnnouncementModal.bind(this)"></app-announcement-form>
    </app-modal>
</div>
