<div class="card border m-b-20" (click)="handleSelectTask()" *ngIf="task">
    <div class="card-body cursor-pointer">
        <div class="row align-items-center">
            <div class="col-8">
                <div class="kanban-tag">
                    <span class="badge badge-primary-inverse font-14">Urgent</span>
                </div>
            </div>
            <div class="col-4">
                <div class="kanban-menu">
                    <div class="dropdown">
                        <button
                            class="btn btn-link p-0 m-0 border-0 l-h-20 font-16"
                            type="button"
                            id="KanbanBoardButton1"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false"
                        >
                            <i class="feather icon-more-vertical-"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="KanbanBoardButton1">
                            <a class="dropdown-item" href="apps-kanban-board.html#"><i class="feather icon-refresh-ccw mr-2"></i>Sync</a>
                            <a class="dropdown-item" href="apps-kanban-board.html#"><i class="feather icon-edit-2 mr-2"></i>Edit</a>
                            <a class="dropdown-item" href="apps-kanban-board.html#"><i class="feather icon-trash mr-2"></i>Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-12">
                <h5 class="font-16 my-3">{{ task.title }}</h5>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-5">
                <div class="kanban-comment">
                    <span class="font-14"><i class="feather icon-message-circle mr-2"></i>5</span>
                </div>
            </div>
            <div class="col-7">
                <div class="kanban-users">
                    <div class="avatar-group">
                        <div class="avatar">
                            <a
                                href="apps-kanban-board.html#"
                                data-toggle="tooltip"
                                data-placement="top"
                                title=""
                                data-original-title="Amy Adams"
                            >
                                <img src="assets/images/users/men.svg" alt="avatar" class="rounded-circle" />
                            </a>
                        </div>
                        <div class="avatar">
                            <a
                                href="apps-kanban-board.html#"
                                data-toggle="tooltip"
                                data-placement="top"
                                title=""
                                data-original-title="Amy Adams"
                            >
                                <img src="assets/images/users/women.svg" alt="avatar" class="rounded-circle" />
                            </a>
                        </div>
                        <div class="avatar">
                            <a
                                href="apps-kanban-board.html#"
                                data-toggle="tooltip"
                                data-placement="top"
                                title=""
                                data-original-title="Amy Adams"
                            >
                                <img src="assets/images/users/boy.svg" alt="avatar" class="rounded-circle" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
