@import url('./assets/css/bootstrap.min.css');
@import url('./assets/css/flag-icon.min.css');
@import url('./assets/css/icons.css');
@import url('./assets/css/style.css');

.contentbar {
    margin-top: 100px;
}

button:disabled {
    cursor: no-drop !important;
}

button,
a {
    cursor: pointer;
}

.breadcrumbbar {
    margin: 0 0 20px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 3px;
}

.overlay {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    backdrop-filter: blur(3px);
    background-color: rgba(0, 0, 0, 0.331);
    z-index: 99;
}

.dropdown-btn,
input[type='text'],
input[type='number'] {
    border-radius: 0px !important;
    border: 1px solid rgba(0, 0, 0, 0.03) !important;
}

.dropdown-multiselect__caret {
    display: none !important;
}

.dropdown-list {
    position: absolute;
    padding-top: 5px !important;
    width: 100%;
    z-index: 9999;
    border: 0.1px solid rgba(128, 128, 128, 0.561) !important;
    border-radius: 0px !important;
    background: #fff !important;
    margin-top: 5px !important;
    box-shadow: 0 1px 5px #95959549 !important;
}

.swal2-loader button,
.swal2-modal .swal2-confirm,
.swal2-modal .swal2-styled {
    padding: 10px 30px !important;
    font-size: inherit !important;
}
.cursor-pointer {
    cursor: pointer;
}

.editable-txt {
    font-size: 16px;
    font-family: 'Muli';
    font-weight: 400;
    color: #8a98ac;
    line-height: 1.5;
}
